*{
  font-family: sans-serif,'Bebas Neue', cursive;
}
.menu-bar {
  background-color: #1988f7;
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  margin: 1.5rem 20%
}
h1{
  flex: auto;
  text-align: center;
  display: flex;
  box-sizing: border-box;
  margin: 1.5rem 20%;
}
form{
  border: 1px solid, black;
  box-sizing: border-box;
  margin: 3rem 30%;}
.item {
  color: white;
  background-color: transparent;
  font-size: 18px;
  display: inline-block;
  box-sizing: border-box;
  padding: 14px 20px;
}
ul{
  list-style: none;
  text-align: center;
}
ul input{
  border: 1px solid, black; 
  padding: 0.1rem;
}

li label{
  font-weight:bold;
}
.item.title {
  font-weight: 600;
}

.item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

main{
  box-sizing: border-box;
 margin: 3rem 10rem 3rem 10rem;
 
}
main p{
  text-align: center;
  font-size: 2rem;
  font-weight: bolder;
}
div#sales-table{
  box-sizing: border-box;
  margin: auto 10rem;
  display: flexbox;
  justify-content: flex-start;
  box-sizing: border-box;
  text-align: center;
}
table{
  border:1rem;
  border-color: black;
}
footer{
  box-sizing: border-box;
  margin: 3rem 10rem 3rem 10rem;
  text-align: center;
}
table{
  box-sizing: border-box;
  box-shadow: 1rem;
  flex-direction: row;
  margin: auto;
  align-content: center;
  border-style: solid;
  border-color: rgba(127, 255, 212, 0.151);
}
div.group img{
  width: 160px;
  float: right;
  flex-direction: row;

}

img#animatefish{
  width: 120px;
  position: absolute;
  -webkit-animation: linear infinite ;
  -webkit-animation-name: run;
  -webkit-animation-duration: 15s;
}
@-webkit-keyframes run {
  0% {
    left: 0;
  }
  50% {
    left: 100%;
  }
  100% {
    left: 0;    
  }
}

h1 a{
  margin-right: 1rem;
  border-bottom: 1rem lightskyblue;
  
}

div#img img{
  width: 150px;
  flex-direction: row;
}
div#img{
  margin: auto;
  text-align: center;
  flex: auto;
}
img.family{
  margin: auto;
  align-content: center;
  flex: auto;
  width: 320px;
  box-sizing: border-box;
  flex-direction: row;

}
