*{
  font-family: Arial, Verdana,Georgia, Times;
  font-family: 'Bebas Neue', cursive;
font-family: 'Oswald', sans-serif;
position: relative;

}
nav{
  background-color: #1988f7;

}
.menu-bar {
  background-color: #1988f7;
  display: flex;
  box-sizing: border-box;
  position: sticky;
  display: flex;
  width: 100%;
  
}
.item.title{
  font-family: 'Bebas Neue', cursive;
  font-size:3rem;
  color: rgb(251, 167, 158);
  margin-right: 7rem;
 
}
h1{
  flex: auto;
  text-align: center;
  display: flex;
  box-sizing: border-box;
  margin: 1.5rem 20%;
}
form{
  border: 1px solid, black;
  box-sizing: border-box;
  margin: 3rem 30%;}
.item {
  color: white;
  background-color: transparent;
  font-size: 18px;
  display: inline-block;
  box-sizing: border-box;
  padding: 14px 20px;
}
ul{
  list-style: none;
  text-align: center;
  
}
ul input{
  border: 1px solid, black; 
  padding: 0.1rem;
  
}

li label{
  font-weight:bold;
}
.item.title {
  font-weight: 600;
}

.item:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border-radius: 1.5rem;
  font-family: 'font-family: 'Bebas Neue',cursive;
}

div.container{
  background-color: rgba(255, 235, 205, 0.325);
  box-sizing: border-box;
  margin: auto;
  width: 100%;
}

main{
  box-sizing: border-box;
 margin: 3rem 10rem 3rem 10rem;
 background-color: rgba(255, 235, 205, 0.258);

 
}
main p{
  text-align: center;
  font-size: 2rem;
  font-weight: bolder;
}
div#sales-table{
  margin: 1rem auto;
  box-sizing: border-box;
  display: flex-box;
    box-sizing: border-box;
    text-align: center;
}
table, th, td {
  border: 1px solid;}
th{
  background-color: aliceblue;
}

footer{
  box-sizing: border-box;
  margin: 3rem 10rem 3rem 10rem;
  text-align: center;
}
table{
  display:inside;
  box-sizing: border-box;
  flex-direction: row;
  margin: auto;
  border-style: solid;
  border-color: rgba(127, 255, 212, 0.151)
}


div.group2 img{
  width: 160px;
  float: right;
  flex-direction: row;
  padding-left: 2rem

}

img#animatefish{
  width: 120px;
  position: absolute;
  -webkit-animation: linear infinite ;
  -webkit-animation-name: run;
  -webkit-animation-duration: 15s;
}
@-webkit-keyframes run {
  0% {
    left: 0;
  }
  50% {
    left: 100%;
  }
  100% {
    left: 0;    
  }
}

h1 a{
  margin-right: 1rem;
  border-bottom: 1rem lightskyblue;
  
}

div#img img{
  width: 150px;
  flex-direction: row;
}
div#img{
  margin: auto;
  text-align: center;
  flex: auto;
}
.family{
  margin: auto;
  align-content: center;
  display: flex;
  width: 320px;
  box-sizing: border-box;
  flex-direction: row;

}

h1#highlight{
  font-family: sans-serif;
  color: purple
}
